.card-body-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-dashboard-card {
    margin-top: 3rem!important;
}

.dashboard-componenet-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.root-search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
